<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>配置列表</title>
    <link rel="stylesheet" type="text/css" media="all" href="/css/stsm.css" th:href="@{/css/stsm.css}"/>
</head>
<body>

<h1>
    <a href="#" th:href="@{../../profile/view/list(appName=${object.appName})}"
       th:text="${object.appName} + ' > '+ ${object.profile}">home</a>
</h1>
<span style="color: orangered; font-size: medium" th:text="${msg}">msg</span>
<hr/>

<form action="#" th:action="@{save}" th:object="${object}" method="post">
    <fieldset>
        <legend>新建配置</legend>
        <div>
            <label>文件名：</label>
            <input type="text" th:field="*{dataId}"/>
        </div>
        <div>
            <label>文件内容：</label>
            <textarea th:field="*{content}" rows="5" cols="50"></textarea>
        </div>
        <div>
            <label>操作：</label>
            <button type="submit" name="view">保存</button>
        </div>
    </fieldset>
    <input type="hidden" th:field="*{appName}"/>
    <input type="hidden" th:field="*{profile}"/>
</form>

<fieldset>
    <legend>配置文件列表</legend>
    <div class="seedstarterlist">
        <table>
            <thead>
            <tr>
                <th>配置文件名</th>
                <th>最新编辑版本</th>
                <th>最新发布版本</th>
                <th>状态</th>
                <th>创建时间</th>
                <th>更新时间</th>
                <th>public</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="row,rowStat : ${data}">
                <td>
                    <a href="#" th:href="@{operate(appName=${row.appName},profile=${row.profile},dataId=${row.dataId})}"
                       th:text="${row.dataId}"></a>
                </td>
                <td th:text="${row.lastVersion}"></td>
                <td th:text="${row.releaseVersion}"></td>
                <td th:text="${row.statusText}"></td>
                <td th:text="${#dates.format(row.createTime, 'dd/MM/yyyy HH:mm:ss')}"></td>
                <td th:text="${#dates.format(row.updateTime, 'dd/MM/yyyy HH:mm:ss')}"></td>
                <td th:text="${row.isPublic ? '是' : '否'}"></td>
                <td>
                    <a href="#" th:if="${!row.isPublic}" th:href="@{do_public(appName=${row.appName},profile=${row.profile},dataId=${row.dataId})}"
                       th:text="Public"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</fieldset>

</body>
</html>