<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>配置文件</title>
    <link rel="stylesheet" type="text/css" media="all" href="/css/stsm.css" th:href="@{/css/stsm.css}"/>
</head>
<body>

<h1>
    <a href="#" th:href="@{list(appName=${object.appName},profile=${object.profile})}"
       th:text="${object.appName} + ' > '+ ${object.profile} + ' > '+ ${object.dataId} + ' ('+${object.statusText}+')'">home</a>
</h1>
<span style="color: orangered; font-size: medium" th:text="${msg}">msg</span>
<hr/>

<form action="#" th:action="@{save}" th:object="${object}" method="post">
    <fieldset>
        <legend>编辑配置</legend>
        <div>
            <label>文件内容：</label>
            <textarea th:field="*{content}" rows="10" cols="50"
                      th:readonly="!(${code} == 2 or ${code} == 4 or ${code} == 6 or ${code} == 8)"></textarea>
        </div>
        <div th:if="(${code} == 2 or ${code} == 4 or ${code} == 6 or ${code} == 8)">
            <label>操作：</label>
            <button type="submit" name="save">保存</button>
        </div>
    </fieldset>
    <input type="hidden" th:field="*{appName}"/>
    <input type="hidden" th:field="*{profile}"/>
    <input type="hidden" th:field="*{dataId}"/>
    <input type="hidden" name="lastVersion" th:value="${object.version}"/>
</form>

<form action="#" th:action="@{operate}" th:object="${object}" method="post">
    <fieldset>
        <legend>其他操作</legend>
        <div>
            <label>操作：</label>
            <button th:if="${code} == 2" type="submit" name="reqApply">提交审核</button>
            <button th:if="${code} == 3" type="submit" name="apply" value="false">审核拒绝</button>
            <button th:if="${code} == 3" type="submit" name="apply" value="true">审核通过</button>
            <button th:if="${code} == 5" type="submit" name="release" value="false">发布审核拒绝</button>
            <button th:if="${code} == 5" type="submit" name="release" value="true">发布审核通过</button>
        </div>
    </fieldset>
    <input type="hidden" th:field="*{appName}"/>
    <input type="hidden" th:field="*{profile}"/>
    <input type="hidden" th:field="*{dataId}"/>
    <input type="hidden" name="lastVersion" th:value="${object.version}"/>
</form>

<fieldset>
    <legend>操作记录</legend>
    <div class="seedstarterlist">
        <table>
            <thead>
            <tr>
                <th>操作</th>
                <th>操作时间</th>
                <th>操作机器</th>
                <th>操作人</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="row,rowStat : ${opLogs}">
                <td th:text="${row.remarks}"></td>
                <td th:text="${#dates.format(row.operationTime,'dd/MM/yyyy HH:mm:ss')}"></td>
                <td th:text="${row.ipText}"></td>
                <td th:text="${row.operator}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</fieldset>
</body>
</html>