<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Profile列表</title>
    <link rel="stylesheet" type="text/css" media="all" href="/css/stsm.css" th:href="@{/css/stsm.css}"/>
</head>
<body>


<h1>
    <a href="#" th:href="@{list(appName=${object.appName})}"
       th:text="${object.appName}">home</a>
</h1>
<span style="color: orangered; font-size: medium" th:text="${msg}">msg</span>
<hr/>

<form action="#" th:action="@{create(appName=${object.appName})}" th:object="${object}" method="post">
    <fieldset>
        <legend>新建Profile</legend>
        <div>
            <label>Profile：</label>
            <input type="text" th:field="*{profile}"/>
        </div>
        <div>
            <label>操作：</label>
            <button type="submit" name="view">创建</button>
        </div>
    </fieldset>
</form>

<fieldset>
    <legend>Profile列表</legend>
    <div class="seedstarterlist">
        <table>
            <thead>
            <tr>
                <th>应用名</th>
                <th>Profile</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="row,rowStat : ${data}">
                <td th:text="${row.appName}">appName</td>
                <td>
                    <a href="#" th:href="@{../../config/view/list(appName=${row.appName},profile=${row.profile})}"
                       th:text="${row.profile}">profile</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</fieldset>

</body>
</html>